{% include 'header.html' %}
<br><br><br>
<div class="about1">
    <h2><center> <u>About Us</u> </center></h2>
    <p style="padding-left: 2rem;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus totam eos at ex. Facere doloribus ad incidunt eligendi sint non enim vel aliquid dolores, eius eaque, earum nesciunt deleniti ut? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptas optio sequi, eligendi hic necessitatibus aliquid odit minimabr,<br> fugit nihil voluptatibus! Exercitationem soluta sed animibr excepturi ipsum corporis, ipsa aspernatur?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia accusamus suscipit deserunt consectetur explicabo modi,<br> illo consequuntur fugit omnis nam voluptatum sed quas similique saepe ducimus soluta, optio sapiente illum!</p>
</div>