{% include 'header.html' %}
<br><br><br>
<h1><center><u>Gallery</u></center>
<div>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
          <img src="/static/images/1.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
      </div>
      
      

      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/images/9.jpg" alt="Forest" width="600" height="400">
        </a>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="/static/images/3.jpg" alt="Northern Lights" width="600" height="400">
        </a>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/images/10.jpg" alt="Forest" width="600" height="400">
        </a>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/images/2.jpg" alt="Forest" width="600" height="400">
        </a>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/images/5.jpg" alt="Forest" width="600" height="400">
        </a>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/images/6.jpg" alt="Forest" width="600" height="400">
        </a>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="/static/images/8.jpg" alt="Forest" width="600" height="400">
        </a>
      </div>
      
        <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="/static/images/4.jpg" alt="Mountains" width="600" height="400">
        </a>
    </div>
      
</div>