{% include 'header.html' %}
<div>
    <div style="background-image:url(/static/images/home.jpg) ;background-position: center;background-repeat: no-repeat;height: 700px;width: 100%;background-size:cover;">
        <h1 style="padding-top: 100px;"><center>Welcom<br> To <br><p style="font-size: 4rem;">Gurukul Academy</p></center></h1>
    </div>
</div>
<br>

<div class="row container-fluid">
    <h2><center><u>Our Toppers</u></center></h2>

    <div class="card text-center col-lg-3" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Archita Rai</h3>
          <h6 class="card-subtitle mb-2 text-muted">College name</h6>
          <h5>Maths-95</h5>
          <h5>Hindi-94</h5>
          
        </div>
    </div>

    <div class="card text-center col-lg-4" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Amit Chakravarti</h3>
          <h6 class="card-subtitle mb-2 text-muted">College name</h6>
          <h5>Social Sci.-94</h5>
          <h5>Maths-90</h5>
        </div>
    </div>

    <div class="card text-center col-lg-3" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Rahul Gaikwad</h3>
          <h6 class="card-subtitle mb-2 text-muted">College name</h6>
          <h5>Maths-92</h5>
          <h5>Science-91</h5>
        </div>
    </div>

    <div class="card text-center col-lg-3" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Sumit Chakravati</h3>
          <h6 class="card-subtitle mb-2 text-muted">College name</h6>
          <h5>Science-90</h5>
          <h5>Maths-85</h5>
        </div>
    </div>
    
</div>